@tailwind base;
@tailwind components;
@tailwind utilities;

div[role="menu"] {
    display: none;
}

.right-3\/8 {
    right: 38%;
}

.w-100 {
    width: 28rem;
}

.focus\:disoutline:focus {
    outline: 0; /* Pastikan outline tetap hilang saat fokus */
    border: none; /* Pastikan border tetap hilang saat fokus */
    box-shadow: none; /* Pastikan tidak ada shadow saat fokus */
}